{% extends "base_home.html" %}

{% block content %}


<form method="POST" class="pure-form pure-form-aligned">
    <fieldset>
        
        <div class="pure-g">
    
            <div class="pure-u-1-3"><div class="l-box"></div></div>
        
            <div class="pure-u-1-3">
                <div class="l-box formulaire">

                <h2 class="title_form">Sign In</h2>


                {% for field in form %}
                    <div class="pure-control-group">
                        {% if field.widget.input_type != 'hidden' %}
                                    {{ field.label(class_="center") }}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <div class="alert alert-error">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                        {{ field(class_="center") }}
                    </div>
            {% endfor %}
            <br>
            <button type="submit" class="pure-button pure-button-primary">Sign In</button>
                </div>
            </div>
    
    </div>
            
            

    </fieldset>
</form>

{% endblock %}